# Виртуальное окружение  
env/  
venv/  

# Кэш Python  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  

# VS Code  
.vscode/  

# Логи и временные файлы  
*.log  
*.tmp  

# Файлы зависимостей (если используешь Poetry)  
poetry.lock  
*.egg-info/  

# Файл с переменными окружения (если есть)  
.env  